{% extends "/layouts/main.html" %}
{% block content %}
<div class="wrapper">
    <div class="content" role="main">
        <div class="shelf shelf_5">
            <h1 class="hdg hdg_1">Voting</h1>
        </div>
        <div class="shelf shelf_2">
            <p>You are able to vote for up to three selections each month.</p>
        </div>
        <div class="shelf shelf_2">
            <div class="voteBox">
                <div class="voteBox-hd">
                    <h2 class="hdg hdg_3">Votes Remaining</h2>
                </div>
                <div class="voteBox-body">
{% for item in [(3, "counter_green"), (2, "counter_yellow"), (1, "counter_red"), [0, "counter_red"]] %}
    {% if item[0] == allowed_vote %}
                <p class="" lass="counter {{ item[1] }}">{{ item[0] }}</p>
    {% endif %}
{% endfor %}
                </div>
            </div>
        </div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "error_vote" %}
        <div class="shelf shelf_2">
            <p class="error">Opps! You have already voted the total allowed times this month.<br />Come back next month to vote again!</p>
        </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

{% if error_ws %}
    {{ error_ws }}
{% else %}
        <div class="split">
            <div class="shelf shelf_2">
                <div class="shelf">
                    <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks Always Purchased</h2>
                </div>

                <ul class="list list_centered">
    {% for s in always_purchased %}
                    <li>{{ s["name"] }}</li>
    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="split">
            <div class="shelf shelf_2">
                <div class="shelf">
                    <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks suggested this month</h2>
                </div>
                <div class="shelf shelf_5">
    {% if error_no_suggestion %}
        Please suggest some snacks!
    {% else %}
                    <form method="POST" action="{{ url_for("index") }}" class="form">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Snack Food</th>
                                    <th scope="col">Current Votes</th>
                                    <th scope="col">VOTE</th>
                                    <th scope="col">Last Date Purchased</th>
                                </tr>
                            </thead>
                            <tbody>
        {% for field in form %}
            {% if field.type == "BooleanField" %}
                                <tr>
                                    <td>
                                        {{ field.label }} {{ field.label.text in ranked_snacks }}
                                    </td>
                                    <td>
                                        {% if field.label.text in ranked_snacks.keys() %}
                                            {{ ranked_snacks[field.label.text] }}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn_clear"><i class="icon-check icon-check_voted"></i>
                                        </button>
                                        {{ field() }}
                                    </td>
                                    <td>
                                        {{ optional_snacks_date[field.label.text] }}
                                    </td>
                                </tr>
            {% elif field.type == "CSRFTokenField" %}
                {{ field() }}
            {% endif %}
        {% endfor %}
                            </tbody>
                        </table>
                        <input type="submit" value="Vote">
                    </form>
    {% endif %}
                </div>
            </div>
        </div>
{% endif %}
    </div>
    <!-- /content -->
</div>
<!-- /wrapper -->
{% endblock %}