{% extends "/layouts/main.html" %}
{% block content %}
<div class="wrapper">
    <div class="content" role="main">
        <div class="shelf shelf_5">
            <h2 class="hdg hdg_1">Suggestions</h1>
        </div>
        <div class="shelf shelf_2">
            <div class="error isHidden">You have attempted to add more than the allowed number of suggestions per month!
                <br />There is a total of one allowed suggestion per month.</div>
            <div class="error isHidden">You have attempted to add a suggestion that already exists!</div>
            <div class="error isHidden">You have not completed information requested.</div>
        </div>
        <div class="content-centered">
            <div class="shelf shelf_2">
                <form method="" action="" class="form" novalidate>
                    <fieldset class="shelf shelf_2">
                        <div class="shelf shelf_2">
                            <div class="shelf">
                                <label for="snackOptions">
                                    <h2 class="hdg hdg_2">{{ form_suggestion.snack_options.label.text }}</h2>
                                </label>
                            </div>
                            {{ form_suggestion.snack_options }}
                        </div>
                    </fieldset>
                    <div class="shelf shelf_5">
                        <p class="hdg hdg_1">or</p>
                    </div>
                    <fieldset class="shelf shelf_5">
                        <div class="shelf">
                            <label for="suggestionInput">
                                <h2 class="hdg hdg_2">Enter new snack suggestion &amp; purchasing location</h2>
                            </label>
                        </div>
                        <div class="shelf">
                            {{ form_suggestion.suggestion_input(placeholder="Snack Suggestion") }}
                        </div>
                        <div class="shelf">
                            {{ form_suggestion.suggestion_location.label(_class="isHidden") }}
                            {{ form_suggestion.suggestion_location(placeholder="Location") }}
                        </div>
                    </fieldset>
                    <input type="submit" value="Suggest this Snack!" class="btn">
                </form>
            </div>
        </div>
    </div>
    <!-- /content -->
</div>
<!-- /wrapper -->
{% endblock %}
