{% extends "/layouts/main.html" %}
{% block content %}
<div class="wrapper">
    <div class="content" role="main">
        <div class="shelf shelf_5">
            <h2 class="hdg hdg_1">Suggestions</h1>
        </div>
        <div class="shelf shelf_2">
{# error message #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% if error_suggestion %}
            <div class="error">There is a total of one allowed suggestion per month.</div>
{% endif %}
        </div>
        <div class="content-centered">
            <div class="shelf shelf_2">
                <form method="POST" action="{{ url_for("suggestions") }}" class="form" novalidate>
                    {{ form.csrf_token }}
                    <fieldset class="shelf shelf_2">
                        <div class="shelf shelf_2">
                            <div class="shelf">
                                <label for="snackOptions">
                                    <h2 class="hdg hdg_2">{{ form.snack_options.label.text }}</h2>
                                </label>
                            </div>
                            {{ form.snack_options }}
                        </div>
                    </fieldset>
                    <div class="shelf shelf_5">
                        <p class="hdg hdg_1">or</p>
                    </div>
                    <fieldset class="shelf shelf_5">
                        <div class="shelf">
                            <label for="suggestionInput">
                                <h2 class="hdg hdg_2">Enter new snack suggestion &amp; purchasing location</h2>
                            </label>
                        </div>
                        <div class="shelf">
                            {{ form.suggestion_input(placeholder="Snack Suggestion") }}
                        </div>
                        <div class="shelf">
                            {{ form.suggestion_location.label(_class="isHidden") }}
                            {{ form.suggestion_location(placeholder="Location") }}
                        </div>
                    </fieldset>
                    <input type="submit" value="Suggest this Snack!" class="btn">
                </form>
            </div>
        </div>
    </div>
    <!-- /content -->
</div>
<!-- /wrapper -->
{% endblock %}
